nav#header{
    background-color: yellow;
}
div.container{
    background-color:white;
}
div.container-fluid{
    background-color: blue;
    text-align: left;
    text-indent: 10%;
}
ul{
    list-style-type: none;
}


.menu_hangdienthoai button{
    background-color:red;
    color:white;
    font-size:10px;
    width:119px;
}

