div#header{
    background-color: yellow;
}
div.container{
<<<<<<< HEAD
    background-color: gray;
=======
    background-color:red;
>>>>>>> a2ef266251d5b117ac6a6be3f4b21c642cccef92
}
div.container-fluid{
    background-color: blue;
    text-align: left;
    text-indent: 10%;
}
ul{
    list-style-type: none;
}
<<<<<<< HEAD
.fa-mobile-phone{
    text-align: center;
}
.fa-apple{
    text-align: center;
}
.container{
    padding: 0;
    margin-top: 20px;
}
#banner2{
    margin-top: 20px;
}
#promotion{
    border: solid 1px blue;
    width: 1140px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    background-color: white;
    color: red;
}
#promotion a{
    color: red;
    text-decoration: none;
}
#promotion_banner{
    border-style: solid;
    width: 1140px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    background-color: red;
    color: white;
    border: 1px solid red
}
.product_promotion{
    max-width: 100%;
    width: 226px;
    height: 230px;
    border: solid 1px black;
    margin-left: 7px;
}
=======

<<<<<<< HEAD


=======
>>>>>>> master
>>>>>>> a2ef266251d5b117ac6a6be3f4b21c642cccef92
