/*CSS - content*/
#form1{
  width: 30%;
  background-color: violet;
  float: left;
}
#form2{
  width: 34%;
  float: left;
  margin-left: 1%;
}
#form3{
  width: 34%;
  float: left;
  margin-left: 1%;
}
#form4{
  width: 60%;
  float: left;
  border-top: 1px dotted gray;
  margin-top: 1%;
}
#form5{
  width: 38%;
  height: 500px;
  margin-left: 2%;
  float: left;
  margin-top: 1%;
  border-top: 1px dotted gray;
}
.picform1{
  width: 100%;
}
.kmdvform2{
  padding: 0.5em;
  margin-bottom: 1%;
}
.giadtform2 {
  color: red;
}
.giadtform2 span {
  font-size: small;
  
}
.nutmuaform2{
  font-size: small;
}
.hainutmuaform2{
  margin-top: 1%;
}
.sdtform2{
  
  width:100%; 
  color: grey;
  border-radius: 2px white;
}
.tuvanform2{
  margin-top: 3%;
}
.datmuaform2{
  text-align: center;
}
.thform3{
  padding: 3%;
  text-align: inherit;
}
.trform3{
  border-top: 1px solid wheat;
}
.tableform3{
  border-spacing: 2px;
}
#d1_form4{
  width: 20%;
  height: 50px;
  border: 11px solid yellow;
  border-radius: 5px;
  float: left;
}
#d2_form4{
  width: 58%;
  height: 50px;
  float: left;
  margin-left: 1%;
  background-color: blue;
}
#d3_form4{
  width: 19%;
  height: 50px;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;

}
.pform4{
  font-weight: bold;
  font-size: larger;
  text-align: center;
  background-color: yellow;
}
.buttonform4{
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  letter-spacing: 2px; 
  
  
}
.buttonform4:hover{
  color:#000;
  background-color: #D9E8F5;
}

/*zoom hover chưa tính đc*/
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.image_primar{
    float: left;
}


/*HEADER VÀ FOOTER*/
/* Dropdown Button */
.dropbtn {
  background-color: #4E7AC7;
  color: black;
  padding: 1px;
  font-size: 18px;
  border: none;
  text-align: center;
  width: 120px;
  height: 25px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn span{
  color: black;
  font-weight: bold;
}

.dropdown span a {
  text-decoration: none;
  color: black;
}

.dropdown span a:active, .dropdown span a:focus {
  outline: none;
}

div#header{
  background-color: #4E7AC7;
}

.dropbtn:focus {
  outline: none;
}

#logo, #navbarSupportedContent {
  float: left;
}

.wrapHead {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

div.container{
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
}

#btn-search {
  background-color: #4E7AC7;
  color: black;
  border: none;
}

#btn-search:active, #btn-search:focus {
  outline: none;
}

#iphone a {
  width: 200px;
}

#footer p {
  font-weight: bold;
}
#footer {
  margin-top: 10px;
}
/*END OF HEADER, FOOTER*/