/* Điều chỉnh khuung carousel */
.promotion {
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
#carouselExampleInterval {
    height: 535px;
    width: 1040px;
    font-size: 50px;
    font-weight: bold;
    color: red;
}
.promo-pic {
    height: 535px;
    width: 1040px;
}
#Sale_Slide {
    margin-bottom: 50px;
}

#Sale_Slide > p {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: tomato;
    border: tomato solid 2px;
    width: 500px;
    height: 70px;
    padding: 10px;
    line-height: 50px;
    margin: auto;
    margin-bottom: 20px;
}
/**/

/*Điều chỉnh phần tin tức - khuyến mãi */
.popularNews {
    margin: 25px;
    padding: 25px;
    border-color: rgb(116, 109, 109);
    border-width: 2px;
    border-style: solid;
}

.typeInfo {
    background-color: tomato;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: fit-content;
    font-size: 12px;
}

.datePost {
    color: gray;
    margin: 5px;
    font-size: 12px;
}
.mt-0 {
    font-weight: bold;
}

.mr-3 {
    width: 150px;
    height: 150px;
}
    /* set hover cho title của khuyến mãi - tin tức */
div.media-body > a { 
    color: black;
}
div.media-body > a:hover {
    color: rgb(182, 69, 69);
    text-decoration: none;
}
    /**/
/**/

/* Điều chỉnh phần flash sale */
#titleSale {
    text-align: center;
    color: red;
    font-weight: bold;
    text-decoration: underline;

}
#Ssale {
    margin-bottom: 100px;
}