/*CSS - content- detail_telephone*/
.picform1{
  width: 100%;
}
.imagectcontent1{
  text-align: center;
}
.kmdvform2{
  padding: 4px;
  margin-bottom: 1%;
}
.giadtform2 {
  color: red;
}
.giadtform2 sup {
  font-size: large;
}
.nutmuaform2{
  font-size: small;
}
.sdtform2{
  width:100%; 
  color: grey;
  border-radius: 2px white;
}
.tuvanform2{
  margin-top: 3%;
}
#nutmuangay{
  background-color: #BF3326; 
  color: #F2E6CE;
}
.datmuaform2{
  text-align: center;
  color: red;
  font-weight: bold;
}
.thform3{
  padding: 3%;
  text-align: inherit;
}
.trform3{
  border-top: 1px solid wheat;
}
#tr1form3{
  background-color: #E9F2F1;
}
#tr2form3{
  background-color: #F8F8F8;
}
.pform4{
  font-weight: bold;
  font-size:x-large;
  text-align: center;
  color: orange;
}
.card-titlett{
  color:#F1FFE1;
  
}
.card-titlett:hover{
  color: orange;
  
}
#dichvuform2{
  margin-left: 3%;
}
.shorttext{
  display: none;
  
}
@media (max-width: 1200px){
  .shorttext {
    display: inline-block;
    
  }
  .fulltext {display: none;}
}
.starcontainer2:active{
  background-color: orange;
}

#btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}
#rowhiendg{
  margin-left: 1%;
}
.nxquydinh{
  color: red;
}

/*CSS content image_detail_telephone*/
#imagedtcontent{
  color: #18778C;
  text-align: center;
}
#nutfb{
  background-color: #18778C;
  color: #F2E6CE;
}
#submitbtn{
  background-color: #18778C;
  font-weight: bold;
  color: #F2E6CE;
}


/*zoom hover chưa tính đc*/
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
.image_primar{
    float: left;
}


/*HEADER VÀ FOOTER*/
/* Dropdown Button */
.dropbtn {
  background-color: #18778C;
  color: #F2E6CE;
  padding: 1px;
  font-size: 18px;
  border: none;
  text-align: center;
  width: 120px;
  height: 25px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn span{
  color: #F2E6CE;
  font-weight: bold;
}

.dropdown span a {
  text-decoration: none;
  color: #F2E6CE;
}

.dropdown span a:active, .dropdown span a:focus {
  outline: none;
}

div#header{
  background-color: #18778C;
}

.dropbtn:focus {
  outline: none;
}

#logo, #navbarSupportedContent {
  float: left;
}

.wrapHead {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

div.container{
  background-color: white;
  margin-top: 10px;
  padding-top: 10px;
}

#btn-search {
  background-color: #18778C;
  color: #F2E6CE;
  border: none;
}

#btn-search:active, #btn-search:focus {
  outline: none;
}

#iphone a {
  width: 200px;
}

#footer p {
  font-weight: bold;
}

#footer {
  margin-top: 10px;
}
/*END OF HEADER, FOOTER*/