doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Redmi K30 Extreme Commemorative Edition s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c c&ocirc;ng b&#x1ED1; v&agrave;o 11/8
  link(rel='icon' href='/image/logo.png')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/promotion_detail.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
#header
  nav#nav_bar.navbar.navbar-expand-lg.navbar-light
    // phần để tạo 3 dấu gạch
    .hamburger
      .line
      .line
      .line
    .wrapHead
      a#logo.navbar-brand(href='/acceuil')
        img#kdm(src='/image/KDM.png')
      #navbarSupportedContent
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search' placeholder='Rechercher sur KDM' aria-label='Search')
          // button submit
          button#btn-search(type='submit')
            svg.bi.bi-search(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
              path(fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')
          // end of button submit
      // kết thúc phần để tạo 3 dấu gạch
      .wrapMenu
        // button iphone
        .dropdown
          button.dropbtn
            span.fa.fa-apple
              br
              | IPHONE
          .dropdown-content
            a(href='#') Iphone 11 | 11 Pro Max
            a(href='#') Iphone XS | XS Max
            a(href='#') Iphone X | XR
            a(href='') Iphone 8 | 8 Plus
            a(href='') Iphone 7 | 7 Plus
            a(href='') Iphone 6 | 6 Plus
        // end of button iphone
        // button phone
        .dropdown
          button.dropbtn
            span.fa.fa-mobile-phone
              br
              | PHONE
          .dropdown-content
            a(href='/type/samsung') Samsung
            a(href='/type/sony') Sony
            a(href='/type/xiaomi') Xiaomi
        // end of button phone
        // button promotion
        .dropdown
          button.dropbtn
            span.fa.fa-percent
              br
              a#promo(href='/promo') PROMOTION
        // end of button promotion
        // button news
        .dropdown
          button.dropbtn
            span.fa.fa-newspaper-o
              br
              a#news(href='/news') NEWS
        // end of button news
#body.container
  article.content
    h2(style='font-weight: bolder;')
      | Xiaomi s&#x1EBD; c&ocirc;ng b&#x1ED1; Redmi K30 Extreme Commemorative Edition t&#x1EA1;i bu&#x1ED5;i l&#x1EC5; k&#x1EF7; ni&#x1EC7;m 10 n&abreve;m th&agrave;nh l&#x1EAD;p, c&oacute; th&#x1EC3; l&agrave; Redmi K30 Ultra
    img(src='/img_news/news1.jpg')
    p
      br
      |                 Xiaomi s&#x1EBD; t&#x1ED5; ch&#x1EE9;c m&#x1ED9;t s&#x1EF1; ki&#x1EC7;n online v&agrave;o 11/8 &dstrok;&#x1EC3; k&#x1EF7; ni&#x1EC7;m 10 n&abreve;m th&agrave;nh l&#x1EAD;p. H&atilde;ng &dstrok;&atilde; ch&iacute;nh th&#x1EE9;c x&aacute;c nh&#x1EAD;n s&#x1EBD; c&ocirc;ng b&#x1ED1; Xiaomi Mi 10 Extreme Commemorative Edition v&agrave; Redmi K30 Extreme Commemorative Edition trong bu&#x1ED5;i l&#x1EC5; k&#x1EF7; ni&#x1EC7;m.
      br
      br
      |                 G&#x1EA7;n &dstrok;&acirc;y, m&#x1ED9;t chi&#x1EBF;c &dstrok;i&#x1EC7;n tho&#x1EA1;i Redmi v&#x1EDB;i t&ecirc;n m&atilde; M2006J10C &dstrok;&atilde; xu&#x1EA5;t hi&#x1EC7;n tr&ecirc;n TENAA, x&aacute;c nh&#x1EAD;n h&igrave;nh &#x1EA3;nh thi&#x1EBF;t k&#x1EBF; v&agrave; m&#x1ED9;t v&agrave;i th&ocirc;ng s&#x1ED1; c&#x1EA5;u h&igrave;nh ch&iacute;nh, tin &dstrok;&#x1ED3;n cho r&#x1EB1;ng t&ecirc;n m&atilde; M2006J10C ch&iacute;nh l&agrave; Redmi K30 Ultra.
    img(src='/img_news/news12.jpg')
    p
      br
      |                 Tuy nhi&ecirc;n, Redmi K30 Extreme Commemorative Edition l&#x1EA1;i &dstrok;&#x1B0;&#x1EE3;c ch&agrave;o h&agrave;ng tr&ecirc;n trang th&#x1B0;&#x1A1;ng m&#x1EA1;i &dstrok;i&#x1EC7;n t&#x1EED; Jingdong Mall v&#x1EDB;i th&ocirc;ng s&#x1ED1; k&#x1EF9; thu&#x1EAD;t t&#x1B0;&#x1A1;ng t&#x1EF1; Redmi M2006J10C.
      br
      br
      |                 D&#x1EEF; li&#x1EC7;u t&#x1EEB; TENAA cho th&#x1EA5;y Redmi M2006J10C s&#x1EDF; h&#x1EEF;u m&agrave;n h&igrave;nh AMOLED k&iacute;ch th&#x1B0;&#x1EDB;c 6.67 inch, h&#x1ED7; tr&#x1EE3; &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i Full HD+ (1.080 X 2.400 px) v&agrave; &dstrok;&#x1B0;&#x1EE3;c t&iacute;ch h&#x1EE3;p c&#x1EA3;m bi&#x1EBF;n v&acirc;n tay nh&uacute;ng trong m&agrave;n h&igrave;nh. Thi&#x1EBF;t b&#x1ECB; c&oacute; camera selfie th&ograve; th&#x1EE5;t 20 MP, m&#x1EB7;t sau l&agrave; b&#x1ED9; 4 camera v&#x1EDB;i c&#x1EA3;m bi&#x1EBF;n ch&iacute;nh Sony IMX686 &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i 64 MP.
    img(src='/img_news/news13.jpg')
    p
      br
      |                 Redmi M2006J10C s&#x1EBD; &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; vi&ecirc;n pin dung l&#x1B0;&#x1EE3;ng 4.500 mAh, h&#x1ED7; tr&#x1EE3; s&#x1EA1;c nhanh 33 W. B&ecirc;n trong, thi&#x1EBF;t b&#x1ECB; &dstrok;&#x1B0;&#x1EE3;c t&iacute;ch h&#x1EE3;p chip Dimensity 1000+, RAM 6 GB, 8 GB v&agrave; 12 GB, ROM t&#x1EEB; 128 GB, 256 GB v&agrave; 512 GB. Redmi M2006J10C s&#x1EBD; ch&#x1EA1;y MIUI 12 t&ugrave;y bi&#x1EBF;n d&#x1EF1;a tr&ecirc;n Android 10 khi l&ecirc;n k&#x1EC7; ch&iacute;nh th&#x1EE9;c.
      br
      br
      |                 N&#x1EBF;u Redmi M2006J10C th&#x1EAD;t s&#x1EF1; l&agrave; Redmi K30 Extreme Commemorative Edition, b&#x1EA1;n th&#x1EED; &dstrok;o&aacute;n gi&aacute; c&#x1EE7;a thi&#x1EBF;t b&#x1ECB; n&agrave;y xem?
      br
      br
      |                 Ngu&#x1ED3;n: 
      a(href='/https://www.gizmochina.com/2020/08/06/redmi-k30-extreme-commemorative-edition-to-debut-on-august-11-could-be-the-rumored-k30-ultra/') Gizmochina
// footer
#footer.container
  .row
    .col
      p TH&Ocirc;NG TIN H&#x1ED6; TR&#x1EE2;
      hr
      ul
        li
          a(href='') Ch&iacute;nh s&aacute;ch b&#x1EA3;o h&agrave;nh
        li
          a(href='/politique_client') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t th&ocirc;ng tin kh&aacute;ch h&agrave;ng
    .col
      p TH&Ocirc;NG TIN LI&Ecirc;N L&#x1EA0;C
      hr
      ul
        | S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i:
        li
          | 0941.559.273
        li
          | 0937.022.743
        |                     Email:
        li
          | kdmobile@gmail.com
        li
          | kdmobile@yahoo.com
    .col
      p &Dstrok;&#x1ECB;a ch&#x1EC9; c&#x1EED;a h&agrave;ng
      hr
      ul
        li
          | 252 V&otilde; V&abreve;n Ng&acirc;n, Th&#x1EE7; &Dstrok;&#x1EE9;c, HCM
        li
          | 290 Ho&agrave;ng V&abreve;n Th&#x1EE5;, T&acirc;n B&igrave;nh, HCM
        li
          | 43 C&#x1EA7;u Gi&#x1EA5;y, H&agrave; N&#x1ED9;i
        li
          | 453 Nguy&#x1EC5;n Tr&atilde;i, H&agrave; N&#x1ED9;i
// end of footer
script(src='js/promotion_detail.js')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
