doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title
    | Tr&ecirc;n tay ROG Phone 3: Gaming phone c&oacute; m&agrave;n h&igrave;nh xu&#x1EA5;t s&#x1EAF;c nh&#x1EA5;t, hi&#x1EC7;u n&abreve;ng m&#x1EA1;nh m&#x1EBD; nh&#x1EA5;t n&abreve;m 2020
  link(rel='icon' href='image/logo.png')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  link(rel='stylesheet' href='css/promotion_detail.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
#header
  nav#nav_bar.navbar.navbar-expand-lg.navbar-light
    // phần để tạo 3 dấu gạch
    .hamburger
      .line
      .line
      .line
    .wrapHead
      a#logo.navbar-brand(href='acceuil.html')
        img#kdm(src='image/KDM.png')
      #navbarSupportedContent
        form.form-inline.my-2.my-lg-0
          input.form-control.mr-sm-2(type='search' placeholder='Rechercher sur KDM' aria-label='Search')
          // button submit
          button#btn-search(type='submit')
            svg.bi.bi-search(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z')
              path(fill-rule='evenodd' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z')
          // end of button submit
      // kết thúc phần để tạo 3 dấu gạch
      .wrapMenu
        // button iphone
        .dropdown
          button.dropbtn
            span.fa.fa-apple
              br
              | IPHONE
          .dropdown-content
            a(href='#') Iphone 11 | 11 Pro Max
            a(href='#') Iphone XS | XS Max
            a(href='#') Iphone X | XR
            a(href='') Iphone 8 | 8 Plus
            a(href='') Iphone 7 | 7 Plus
            a(href='') Iphone 6 | 6 Plus
        // end of button iphone
        // button phone
        .dropdown
          button.dropbtn
            span.fa.fa-mobile-phone
              br
              | PHONE
          .dropdown-content
            a(href='#') Samsung
            a(href='#') Oppo
            a(href='#') Xiaomi
            a(href='') Huawei
            a(href='') Vivo
        // end of button phone
        // button promotion
        .dropdown
          button.dropbtn
            span.fa.fa-percent
              br
              a#promo(href='promo.html') PROMOTION
        // end of button promotion
        // button news
        .dropdown
          button.dropbtn
            span.fa.fa-newspaper-o
              br
              a#news(href='news.html') NEWS
        // end of button news
#body.container
  article.content
    h2(style='font-weight: bolder;')
      | Tr&ecirc;n tay ROG Phone 3: Gaming phone c&oacute; m&agrave;n h&igrave;nh xu&#x1EA5;t s&#x1EAF;c nh&#x1EA5;t, hi&#x1EC7;u n&abreve;ng m&#x1EA1;nh m&#x1EBD; nh&#x1EA5;t n&abreve;m 2020
    h5
      | ASUS ROG Phone 3 ti&#x1EBF;p t&#x1EE5;c k&#x1EBF; th&#x1EEB;a nh&#x1EEF;ng &dstrok;i&#x1EC3;m nh&#x1EA5;n n&#x1ED5;i b&#x1EAD;t v&#x1EC1; kh&#x1EA3; n&abreve;ng ch&#x1A1;i game tr&ecirc;n th&#x1EBF; h&#x1EC7; ti&#x1EC1;n nhi&#x1EC7;m.
      p
        br
        |                 H&ocirc;m qua, ch&#x1EC9; ngay sau khi Lenovo v&agrave; Samsung gi&#x1EDB;i thi&#x1EC7;u chi&#x1EBF;c smartphone &dstrok;&#x1EA7;u ti&ecirc;n ch&#x1EA1;y chip Snapdragon 865+, ASUS c&utilde;ng &dstrok;&atilde; cho ra m&#x1EAF;t chi&#x1EBF;c gaming phone ti&#x1EBF;p theo c&#x1EE7;a m&igrave;nh l&agrave; ROG Phone 3, m&#x1ED9;t trong nh&#x1EEF;ng chi&#x1EBF;c smartphone gaming &dstrok;&#x1B0;&#x1EE3;c ng&#x1B0;&#x1EDD;i d&ugrave;ng mong ch&#x1EDD; nh&#x1EA5;t trong th&#x1EDD;i gian qua, &dstrok;&#x1EB7;c bi&#x1EC7;t l&agrave; &dstrok;&#x1ED1;i v&#x1EDB;i c&aacute;c game th&#x1EE7; &dstrok;&atilde; qu&aacute; quen v&#x1EDB;i nh&#x1EEF;ng d&ograve;ng s&#x1EA3;n ph&#x1EA9;m ROG c&#x1EE7;a ASUS.
      img(src='img_news/news2.jpg')
      p
        br
        |                 ROG Phone 3 &dstrok;&#x1B0;&#x1EE3;c ra m&#x1EAF;t trong b&#x1ED1;i c&#x1EA3;nh nhu c&#x1EA7;u v&#x1EC1; c&aacute;c thi&#x1EBF;t b&#x1ECB; gaming phone t&abreve;ng d&#x1EA7;n, ROG Phone 3 ti&#x1EBF;p t&#x1EE5;c k&#x1EBF; th&#x1EEB;a nh&#x1EEF;ng t&iacute;nh n&abreve;ng &dstrok;&#x1ED9;c &dstrok;&aacute;o h&#x1ED7; tr&#x1EE3; &dstrok;&#x1EAF;c l&#x1EF1;c cho c&aacute;c game th&#x1EE7; di &dstrok;&#x1ED9;ng th&#x1EDD;i bu&#x1ED5;i hi&#x1EC7;n nay: t&#x1EEB; m&#x1ED9;t thi&#x1EBF;t k&#x1EBF; h&#x1EA7;m h&#x1ED1; &dstrok;&#x1EAD;m ch&#x1EA5;t gaming cho t&#x1EDB;i m&#x1ED9;t c&#x1EA5;u h&igrave;nh kh&#x1EE7;ng long nh&#x1EA5;t &#x1EDF; th&#x1EDD;i &dstrok;i&#x1EC3;m hi&#x1EC7;n t&#x1EA1;i.
      p
        | Nh&igrave;n chung v&#x1EC1; thi&#x1EBF;t k&#x1EBF;, ROG Phone 3 v&#x1EAB;n gi&#x1EEF; nguy&ecirc;n nh&#x1EEF;ng n&eacute;t &dstrok;&#x1ED9;c &dstrok;&aacute;o tr&ecirc;n th&#x1EBF; h&#x1EC7; ti&#x1EC1;n nhi&#x1EC7;m ra m&#x1EAF;t v&agrave;o cu&#x1ED1;i n&abreve;m ngo&aacute;i. Ng&#x1B0;&#x1EDD;i d&ugrave;ng s&#x1EBD; v&#x1EAB;n c&oacute; m&#x1ED9;t chi&#x1EBF;c smartphone &dstrok;&#x1B0;&#x1EE3;c ho&agrave;n thi&#x1EC7;n t&#x1EEB; ch&#x1EA5;t li&#x1EC7;u kim lo&#x1EA1;i pha tr&#x1ED9;n k&iacute;nh &#x1EDF; m&#x1ED9;t v&agrave;i khu v&#x1EF1;c t&#x1EA1;i m&#x1EB7;t l&#x1B0;ng. &Dstrok;i&#x1EC1;u n&agrave;y s&#x1EBD; gi&uacute;p m&aacute;y v&#x1EEB;a c&oacute; thi&#x1EBF;t k&#x1EBF; &dstrok;&#x1EB9;p, l&#x1EA1;i v&#x1EEB;a h&#x1ED7; tr&#x1EE3; cho h&#x1EC7; th&#x1ED1;ng t&#x1EA3;n nhi&#x1EC7;t ti&ecirc;n ti&#x1EBF;n.
      img(src='img_news/news22.jpg')
      br
      img(src='img_news/news23.jpg')
      br
      img(src='img_news/news24.jpg')
      br
      img(src='img_news/news25.jpg')
      p
        br
        |                 M&#x1EB7;t l&#x1B0;ng n&agrave;y c&#x1EE7;a m&aacute;y &dstrok;&#x1B0;&#x1EE3;c trang tr&iacute; v&#x1EDB;i c&aacute;c h&#x1ECD;a ti&#x1EBF;t m&#x1EDB;i l&#x1EA1; khi&#x1EBF;n ng&#x1B0;&#x1EDD;i d&ugrave;ng li&ecirc;n t&#x1B0;&#x1EDF;ng t&#x1EDB;i y&#x1EBF;u t&#x1ED1; gaming. &Dstrok;&acirc;y c&utilde;ng l&agrave; v&#x1ECB; tr&iacute; &dstrok;&#x1EB7;t logo &ldquo;ROG&rdquo; &#x1EDF; ch&iacute;nh gi&#x1EEF;a m&#x1EB7;t l&#x1B0;ng. Logo n&agrave;y &dstrok;&#x1ED3;ng th&#x1EDD;i c&utilde;ng ki&ecirc;m lu&ocirc;n d&#x1EA3;i &dstrok;&egrave;n LED RGB c&oacute; th&#x1EC3; t&ugrave;y ch&#x1EC9;nh m&agrave;u s&#x1EAF;c trong c&agrave;i &dstrok;&#x1EB7;t c&#x1EE7;a m&aacute;y t&ugrave;y theo s&#x1EDF; th&iacute;ch c&#x1EE7;a ng&#x1B0;&#x1EDD;i d&ugrave;ng ho&#x1EB7;c t&ugrave;y theo n&#x1ED9;i dung &dstrok;ang &dstrok;&#x1B0;&#x1EE3;c hi&#x1EC3;n th&#x1ECB; v&agrave; ph&aacute;t tr&ecirc;n m&agrave;n h&igrave;nh.
      img(src='img_news/news26.jpg')
      p
        br
        |                 &#x1EDE; m&#x1EB7;t tr&#x1B0;&#x1EDB;c, ASUS ROG Phone 3 &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; m&#x1ED9;t m&agrave;n h&igrave;nh l&#x1EDB;n k&iacute;ch th&#x1B0;&#x1EDB;c 6.6 inch, &dstrok;&#x1ED9; ph&acirc;n gi&#x1EA3;i Full HD+, t&#x1EF7; l&#x1EC7; 19.5:9 v&agrave; c&oacute; t&#x1EA7;n s&#x1ED1; qu&eacute;t 144Hz. M&agrave;n h&igrave;nh n&agrave;y &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o v&#x1EC7; b&#x1EDF;i k&iacute;nh c&#x1B0;&#x1EDD;ng l&#x1EF1;c Gorilla Glass 6 v&agrave; t&iacute;ch h&#x1EE3;p kh&aacute; nhi&#x1EC1;u c&ocirc;ng ngh&#x1EC7; n&#x1ED5;i b&#x1EAD;t nh&#x1B0; h&#x1ED7; tr&#x1EE3; HDR 10bit, &dstrok;&#x1ED9; s&aacute;ng 650 nits, h&#x1ED7; tr&#x1EE3; 113% gam m&agrave;u DCI-P3 v&agrave; c&oacute; &dstrok;&#x1ED9; sai l&#x1EC7;ch m&agrave;u s&#x1EAF;c v&#x1EDB;i Delta E &lt; 1, t&#x1EA7;n s&#x1ED1; c&#x1EA3;m &#x1EE9;ng 270Hz v&agrave; t&#x1ED1;c &dstrok;&#x1ED9; ph&#x1EA3;n h&#x1ED3;i 25ms. T&#x1B0;&#x1A1;ng t&#x1EF1; v&#x1EDB;i Find X2 hay OnePlus 8 Pro, ROG Phone 3 c&oacute; m&agrave;n h&igrave;nh c&oacute; th&#x1EC3; hi&#x1EC3;n th&#x1ECB; &dstrok;&#x1B0;&#x1EE3;c l&ecirc;n t&#x1EDB;i 1 t&#x1EF7; m&agrave;u s&#x1EAF;c kh&aacute;c nhau.
      img(src='img_news/news27.jpg')
      p
        br
        | L&agrave; d&ograve;ng s&#x1EA3;n ph&#x1EA9;m gaming phone th&#x1EBF; n&ecirc;n m&agrave;n h&igrave;nh c&#x1EE7;a ROG Phone 3 s&#x1EBD; l&agrave; ki&#x1EC3;u m&agrave;n h&igrave;nh kh&ocirc;ng khi&#x1EBF;m khuy&#x1EBF;t, kh&ocirc;ng notch, kh&ocirc;ng gi&#x1ECD;t n&#x1B0;&#x1EDB;c, kh&ocirc;ng n&#x1ED1;t ru&#x1ED3;i. &Dstrok;&acirc;y l&agrave; &dstrok;i&#x1EC1;u ki&#x1EC7;n b&#x1EAF;t bu&#x1ED9;c tr&ecirc;n m&#x1ED9;t chi&#x1EBF;c smartphone chuy&ecirc;n v&#x1EC1; kh&#x1EA3; n&abreve;ng ch&#x1A1;i game. K&#x1EBF;t h&#x1EE3;p v&#x1EDB;i ch&#x1EA5;t l&#x1B0;&#x1EE3;ng hi&#x1EC3;n th&#x1ECB; m&agrave;n h&igrave;nh cao c&#x1EA5;p tr&ecirc;n ROG Phone 3 th&igrave; tr&#x1EA3;i nghi&#x1EC7;m ch&#x1A1;i game c&#x1EE7;a ng&#x1B0;&#x1EDD;i d&ugrave;ng s&#x1EBD; d&#x1B0;&#x1EE3;c c&#x1EA3;i thi&#x1EC7;n l&ecirc;n &dstrok;&aacute;ng k&#x1EC3;. C&oacute; th&#x1EC3; n&oacute;i m&agrave;n h&igrave;nh c&#x1EE7;a ROG Phone 3 l&agrave; m&#x1ED9;t trong nh&#x1EEF;ng m&agrave;n h&igrave;nh c&oacute; ch&#x1EA5;t l&#x1B0;&#x1EE3;ng hi&#x1EC3;n th&#x1ECB; t&#x1ED1;t nh&#x1EA5;t hi&#x1EC7;n nay.
      img(src='img_news/news28.jpg')
      p
        br
        | Gi&#x1ED1;ng v&#x1EDB;i th&#x1EBF; h&#x1EC7; ti&#x1EC1;n nhi&#x1EC7;m, ROG Phone 3 c&utilde;ng &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; 2 c&#x1ED5;ng USB-C, m&#x1ED9;t c&#x1ED5;ng &#x1EDF; c&#x1EA1;nh d&#x1B0;&#x1EDB;i c&#x1EE7;a m&aacute;y v&agrave; m&#x1ED9;t c&#x1ED5;ng &#x1EDF; c&#x1EA1;nh b&ecirc;n, gi&uacute;p game th&#x1EE7; c&oacute; th&#x1EC3; v&#x1EEB;a s&#x1EA1;c v&#x1EEB;a ch&#x1A1;i &#x1EDF; ch&#x1EBF; &dstrok;&#x1ED9; s&#x1EED; d&#x1EE5;ng ngang. C&#x1ED5;ng USB-C &#x1EDF; c&#x1EA1;nh b&ecirc;n c&ograve;n c&oacute; t&aacute;c d&#x1EE5;ng k&#x1EBF;t n&#x1ED1;i v&#x1EDB;i c&aacute;c ph&#x1EE5; ki&#x1EC7;n ngo&#x1EA1;i vi nh&#x1B0; dock s&#x1EA1;c, tai nghe&mldr;
      img(src='img_news/news29.jpg')
      p
        br
        | Ngo&agrave;i ra, ROG Phone 3 c&utilde;ng &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; h&#x1EC7; th&#x1ED1;ng AirTrigger3 m&#x1EDB;i v&#x1EDB;i 4 ph&iacute;m (L1/R1 &ndash; R1/R2) c&ugrave;ng 5 l&#x1EF1;c nh&#x1EA5;n kh&aacute;c nhau. Ng&#x1B0;&#x1EDD;i d&ugrave;ng c&oacute; th&#x1EC3; s&#x1EED; d&#x1EE5;ng c&aacute;c ph&iacute;m b&#x1EA5;m c&#x1EA3;m &#x1EE9;ng l&#x1EF1;c n&agrave;y &dstrok;&#x1EC3; t&ugrave;y ch&#x1EC9;nh thao t&aacute;c di chuy&#x1EC3;n trong game sao cho tho&#x1EA3;i m&aacute;i nh&#x1EA5;t.
      img(src='img_news/news210.jpg')
      p
        br
        | V&#x1EC1; camera, n&abreve;m nay ROG Phone 3 &dstrok;&#x1B0;&#x1EE3;c n&acirc;ng c&#x1EA5;p l&ecirc;n c&#x1EE5;m 3 camera ch&iacute;nh &#x1EDF; m&#x1EB7;t l&#x1B0;ng, bao g&#x1ED3;m m&#x1ED9;t c&#x1EA3;m bi&#x1EBF;n ch&iacute;nh 64MP Sony IMX686, m&#x1ED9;t c&#x1EA3;m bi&#x1EBF;n 13MP v&#x1EDB;i &#x1ED1;ng k&iacute;nh ultrawide, m&#x1ED9;t c&#x1EA3;m bi&#x1EBF;n 5MP v&#x1EDB;i &#x1ED1;ng k&iacute;nh macro. Ngo&agrave;i ra m&aacute;y c&utilde;ng c&oacute; m&#x1ED9;t camera selfie 24MP &#x1EDF; m&#x1EB7;t tr&#x1B0;&#x1EDB;c.
      img(src='img_news/news211.jpg')
      p
        br
        | V&#x1EC1; c&#x1EA5;u h&igrave;nh ph&#x1EA7;n c&#x1EE9;ng, nh&#x1B0; &dstrok;&atilde; &dstrok;&#x1EC1; c&#x1EAD;p &#x1EDF; tr&ecirc;n, ROG Phone 3 l&agrave; m&#x1ED9;t trong nh&#x1EEF;ng chi&#x1EBF;c smartphone &dstrok;&#x1EA7;u ti&ecirc;n tr&ecirc;n th&#x1EBF; gi&#x1EDB;i &dstrok;&#x1B0;&#x1EE3;c trang b&#x1ECB; con chip Snapdragon 865+ cho hi&#x1EC7;u n&abreve;ng m&#x1EA1;nh m&#x1EBD; nh&#x1EA5;t &#x1EDF; th&#x1EDD;i &dstrok;i&#x1EC3;m hi&#x1EC7;n t&#x1EA1;i. &Dstrok;&acirc;y l&agrave; m&#x1ED9;t con chip &dstrok;&#x1B0;&#x1EE3;c t&#x1ED1;i &#x1B0;u h&oacute;a cho vi&#x1EC7;c ch&#x1A1;i game, do &dstrok;&oacute; ng&#x1B0;&#x1EDD;i d&ugrave;ng kh&ocirc;ng c&#x1EA7;n ph&#x1EA3;i quan t&acirc;m t&#x1EDB;i hi&#x1EC7;u n&abreve;ng c&#x1EE7;a chi&#x1EBF;c m&aacute;y n&agrave;y. M&aacute;y c&oacute; c&aacute;c t&ugrave;y ch&#x1ECD;n b&#x1ED9; nh&#x1EDB; nh&#x1B0; 12GB/128GB, 12GB/256GB, 12GB/512GB, 16GB/512GB. Ngo&agrave;i ra, vi&ecirc;n pin &dstrok;i k&egrave;m c&oacute; dung l&#x1B0;&#x1EE3;ng 6000mAh v&agrave; h&#x1ED7; tr&#x1EE3; s&#x1EA1;c nhanh 30W.
      img(src='img_news/news212.jpg')
      br
      img(src='img_news/news213.jpg')
      p
        br
        | V&#x1EC1; gi&aacute; b&aacute;n, theo d&#x1EF1; ki&#x1EBF;n, ROG Phone 3 s&#x1EBD; ch&iacute;nh th&#x1EE9;c &dstrok;&#x1B0;&#x1EE3;c b&aacute;n ra t&#x1EA1;i ch&acirc;u &Acirc;u v&agrave;o cu&#x1ED1;i th&aacute;ng 7 n&abreve;m nay, c&oacute; gi&aacute; kh&#x1EDF;i &dstrok;i&#x1EC3;m t&#x1EEB; 799 Euro (kho&#x1EA3;ng 21.5 tri&#x1EC7;u &dstrok;&#x1ED3;ng) cho phi&ecirc;n b&#x1EA3;n 8GB RAM + 256GB b&#x1ED9; nh&#x1EDB;. Trong khi &dstrok;&oacute;, phi&ecirc;n b&#x1EA3;n 12GB RAM + 512GB b&#x1ED9; nh&#x1EDB; &dstrok;&#x1B0;&#x1EE3;c b&aacute;n ra v&#x1EDB;i gi&aacute; 999 Euro (kho&#x1EA3;ng 26.8 tri&#x1EC7;u &dstrok;&#x1ED3;ng). Phi&ecirc;n b&#x1EA3;n cao c&#x1EA5;p nh&#x1EA5;t v&#x1EDB;i 16GB RAM + 512GB ROM c&oacute; gi&aacute; b&aacute;n l&#x1EBB; l&agrave; 1099 Euro (t&#x1B0;&#x1A1;ng &dstrok;&#x1B0;&#x1A1;ng 29.5 tri&#x1EC7;u &dstrok;&#x1ED3;ng).
      br
// footer
#footer.container
  .row
    .col
      p TH&Ocirc;NG TIN H&#x1ED6; TR&#x1EE2;
      hr
      ul
        li
          a(href='') Ch&iacute;nh s&aacute;ch b&#x1EA3;o h&agrave;nh
        li
          a(href='politique_client.html') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t th&ocirc;ng tin kh&aacute;ch h&agrave;ng
    .col
      p TH&Ocirc;NG TIN LI&Ecirc;N L&#x1EA0;C
      hr
      ul
        | S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i:
        li
          | 0941.559.273
        li
          | 0937.022.743
        |                     Email:
        li
          | kdmobile@gmail.com
        li
          | kdmobile@yahoo.com
    .col
      p &Dstrok;&#x1ECB;a ch&#x1EC9; c&#x1EED;a h&agrave;ng
      hr
      ul
        li
          | 252 V&otilde; V&abreve;n Ng&acirc;n, Th&#x1EE7; &Dstrok;&#x1EE9;c, HCM
        li
          | 290 Ho&agrave;ng V&abreve;n Th&#x1EE5;, T&acirc;n B&igrave;nh, HCM
        li
          | 43 C&#x1EA7;u Gi&#x1EA5;y, H&agrave; N&#x1ED9;i
        li
          | 453 Nguy&#x1EC5;n Tr&atilde;i, H&agrave; N&#x1ED9;i
// end of footer
script(src='js/promotion_detail.js')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
