doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
h1(style='text-align: center;') Hi&#x1EC7;n t&#x1EA1;i ch&#x1B0;a c&oacute; &dstrok;&#x1A1;n h&agrave;ng n&agrave;o
