doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title H&#x1ECC;c v&#x1EC1; local
script(src='js/local.js', type='text/javascript')
