#login{
    margin: auto;
    border: black solid 1px;
    width: 300px;
    margin-top: 50px;
}
#Title{
    width: fit-content;
    text-align: center;
}
.text {
    margin-left: 10px;
    box-sizing: border-box;
    width: 70px;
}
#acc, #pass {
    outline-style: none;
    width: 200px;
    margin: 0%;
}
#btn {
    margin-left: 140px;
    width: 144px;
    margin-bottom: 5px;
}
#cancel, #log {
    width: 70px;
    border:black 1px solid;
}
#foot {
    text-align: center;
    font-weight: bold;
}